@{
    ViewBag.Title = "About";
}
<h2>About me</h2>
<p>My name is Wilson Vargas and I'm a programmer. I speak all over to whoever will listen. I code, write, speak, empower, braid, learn and listen - usually not in that order.</p>
<p>With this project you can detect face attributes which contain machine learning-based predictions of facial features.</p>
<p>I’m pretty sure I already told you that on any of my presentations, but I figured it was worth repeating. You know. Just in case you weren’t paying attention or something.</p>
<img class="img-fluid" src="~/LocalImages/me.png" />

